Name:<br/>
<input id="name-input" type="text" ng-model="vm.item.name"/>
<br>
Phone:<br/>
<input id="phone-input" type="text" ng-model="vm.item.phone"/>
<br/><br/>
<button id="save-link" ng-click="vm.updateItem(vm.item)">Update</button>