Name:<br/>
<input id="name-input" type="text" ng-model="vm.newName"/>
<br>
Phone:<br/>
<input id="phone-input" type="text" ng-model="vm.newPhone"/>
<br/><br/>
<button id="save-link" ng-click="vm.addItem()">Add</button>