<style>
    table {
        border-collapse: collapse;
        border: 3px solid grey;
        width: 100%;
    }
    th{
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid gray;
    }
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    tr:hover{background-color:#f5f5f5}

    .button {
        text-align: left;
        text-decoration: none;
        display: inline-block;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
    }

    .button:hover {
        background-color: #4CAF50;
        color: white;
    }
</style>
Search:<input id="search-string" type="text" ng-model="search"/>
<br/>
<br/>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Phone</th>
            <th>Action</th>
            <th><button class="button" ng-click="vm.removeList()">Remove</button></th>
        </tr>
    </thead>
    <tbody id = "data">
        <tr ng-repeat="item in vm.items | filter:search" ng-class="{selected: item.selected }">
            <td>{{ $index + 1 }}</td>
            <td>
                <a class="edit-link" href="#/edit/{{item._id}}">{{item.name}}</a>
            </td>
            <td class="ng-binding">{{item.phone}}</td>
            <td><a class="delete-link" href ng-click = "vm.removeItem(item._id) ">Remove</a></td>
            <td style="text-align: left"><input type="checkbox" ng-model="item.selected"/></td>
        </tr>
    </tbody>
</table>
<br/>
