<style>
    #menu {
        margin: 0 auto;
        padding: 0px 0px 15px 0px;
        display: inline;
    }

    #menu li {
        text-align: left;
        display: inline;
        list-style: none;
        padding: 3px 10px 3px 10px;
        border: 1px solid #999;
    }

    #menu li a {
        text-decoration: none;
    }
</style>
<ul id="menu">
    <li><a id="menu-search" routerLink="/search"  style="cursor:pointer">List</a></li>
    <li><a id="menu-new" routerLink="/new" style="cursor:pointer">New</a></li>
</ul>

<br/><br/>

<router-outlet>

</router-outlet>