<style>
    table {
        border-collapse: collapse;
        border: 3px solid grey;
    }
    th{
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid gray;
    }
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    tr:hover{background-color:#f5f5f5}

    #btn, .button {
        text-align: left;
        text-decoration: none;
        display: inline-block;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white;
        color: black;
        border: 2px solid red;
    }

    #btn:hover, .button:hover {
        background-color: red;
        color: white;
    }
</style>
Search: <input id="search-string" type="text" name="title" [(ngModel)]="title"/>
<br/><br/>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Action</th>
        <th><button id="delete-all-link" class="button" (click)="removeList()">Remove selected</button></th>
    </tr>
    </thead>
    <tbody id = "data">
    <tr *ngFor="let task of tasks | filter : title" [class]="task.done ? 'selected':''">
        <td>{{ task._id }}</td>
        <td>
            <a class="edit-link" routerLink="/edit/{{ task._id }}">{{ task.title }}</a>
        </td>
        <td>
            <a>{{ task.phone }}</a>
        </td>
        <td>
            <input type="checkbox" [(ngModel)]="task.done"/>
        </td>
        <td>
            <button class="delete-link" id="btn" (click)="deleteTask(task._id)">X</button>
        </td>
    </tr>
    </tbody>
</table>
